html, body {
    margin:0px;
    height:100%;
  }

main {
    background-color: lightgray;
    height: 88%;
}

header {
    text-align: right;
    height: 5%;
    width: 100%;
    font-family: Arial;
    font-size: 1em;
    background-color: red;
}

footer{
    background-color: brown;
    margin: auto;
    text-align: left;
    height: 12%;
}

.search {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    background-color: blue;
    text-align: center;
    padding: 10%;
}


