html, body {
    margin:0px;
    height:100%;
  }

main {
    background-color: white;
    height: 88%;
}

header {
    text-align: right;
    height: 5%;
    width: 100%;
    font-family: Arial;
    font-size: 1em;
    background-color: #fdfdfd;
}

footer{
    background-color: #fdfdfd;
    margin: auto;
    text-align: left;
    height: 12%;
}

.search {
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: auto;
    padding: auto;
    text-align: center;
    padding: 10%;
}

.google {
    font-size: 4rem;
}
